<h1>oilWell</h1>

<table>
	{{#each well}}
		<tr>
			<td>
				<strong>{{key}}:</strong>
			</td>
			<td>
				{{input value=value}}
			</td>
		</tr>
	{{/each}}
</table>

<button {{action "save"}}>Update</button>

{{outlet}}
