/* =============================================================================
Variables
========================================================================== */
$mapToolbarButtonColour: rgb(220,220,220);
$mapToolbarButtonTextColour: black;

/* =============================================================================
Map Toolbar
========================================================================== */
.mapToolbar {
	@extend %absolute;
	right: $margin;
	z-index: 9;
	@extend %bordered;
	@extend %small-padding;
	@extend %border-box;
	background: darken($body-background, 5);
	top: ($margin * 3);
	display: inline;
	padding: ($padding-small / 10) ($padding-small / 10) ($padding-small / 10) ($padding-small / 10);
	button{
		padding: 0.5em 0.5em 0.5em 0.5em;
		outline: none;
		font-size: 1.2em;
		color: $mapToolbarButtonTextColour;
		&:active, &.active, &:hover{
			background: darken($mapToolbarButtonColour, 20);
		}
		&.show-toolbar {
			&.active {
				@extend %inline;
			}
		}
	}

	label {
		font-size: .85em;
	}

	table, td, tr, tbody {
		border-spacing: 0px;
	}

	.error-msg{
		color: red;
		padding-left: 1em;
	}

	.toolbar-buttons{
		display: inline;
	}

	.sidebar-content-container{
		display: inline;
	}

	%wide {
		min-width: 20em;
	}
	.search-form {
		@extend %wide;
	}

	.filter-form{
		@extend %wide;
	}

	.layer-form{
		@extend %wide;
	}

	.graph-form{
		@extend %wide;
	}
	.grouped-search {
		input {
			@extend %inline;
			width: 2em;
			&[type="search"] {
				&::-webkit-search-decoration, &::-webkit-search-cancel-button, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
					display: none;
				}
			}
		}
	}
}

table {
	width: 100%;
}
