/* =============================================================================
Map Toolbar
========================================================================== */
.mapToolbar {
	@extend %absolute;
	right: $margin;
	z-index: 9;
	@extend %bordered;
	@extend %small-padding;
	@extend %border-box;
	background: darken($body-background, 5);
	top: ($margin * 3);
	padding: ($padding-small / 3) $padding-small;
	button{
		display: block;
		padding: 0.5em 0.8em;
	}
}