@import "partials/_variables.scss";

@import "modules/helpers/_helpers.scss";
@import "modules/mapToolbar/_mapToolbar.scss";
@import "modules/map-controller/_map-controller.scss";

/*
=============================================================================
Main Styles
========================================================================== */
body {
	background: $body-background;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	@extend %transition-all;
	@extend %margin-none;
	@extend %padding-none;
	height: 100%;
}

html {
	height: 100%;
}

button {
	cursor: pointer;
}
.container {
	max-width: $container-max-width;
	margin: 0 auto;
}