.ui-dialog{
	font-size: 0.85em;
	overflow: hidden;
	padding: 0em;
	min-width: 50em;

	.ui-dialog-title{
		font-size: 1.25em;
	}

	.ui-dialog-titlebar{
		margin-bottom: 0em;
	}
}

.toggle-table {
	@extend %fixed;
	@extend %bordered;
	left: 50%;
	bottom: 0;
	z-index: 9999; // it's over 9000!
	padding: $padding-small;
	@extend %margin-none;
	outline: none;
	font-size: 1.2em;
	color: $mapToolbarButtonTextColour;
}

.filter-form{
	position:absolute;
	display: inline-block;
	border-right: solid black 1px;
	height: inherit;
	width: 18em;
	top: inherit;
	h4{
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	fieldset{
		border: none;
	}
}

#full-results-table{
	display: inline-block;
	top: inherit;
	position:absolute;
	left: 18em;
	padding: 0.5em;

	.htDimmed{
		color: black;
	}

	th{
		background: $mapToolbarButtonColour;
		color: black;
	}

	.wtHider{
		padding-bottom: .75em;
	}

	.dragdealer{
		right: 0;
		background: lighten($mapToolbarButtonColour, 15);
		&.handle{
			background: darken($mapToolbarButtonColour, 50);
		}
	}

	.currentRow{
		background: $mapToolbarButtonColour;
	}

	.current{
		background: $mapToolbarButtonColour;
	}
}

.ColVis_collection {
	@extend %normal-padding;
	@extend %margin-none;
	background: $body-background;
	@extend %bordered;
	list-style: none;
	label {
		@extend %block;
		cursor: pointer;
	}
}