// Button placement
.search-results-table {

	.toggle-table {
		@extend %fixed;
		@extend %bordered;
		left: 50%;
		bottom: 0;
		z-index: 999; // it's over 9000!
		padding: $padding-small;
		@extend %margin-none;
		transition: $transition-time $transition-function all;
		outline: none;
		font-size: 1.2em;
		color: $mapToolbarButtonTextColour;
		&:active, &.active, &:hover {
			background: darken($mapToolbarButtonColour, 20);
		}
		/*&.active {
			bottom: 85%;
		}*/
	}

	section{
		//@extend %fixed;
		//height:100%;
		background: $body-background;
	}
}

.full-table-content{
	font-size: 0.85em;
	.filter-form {
		fieldset {
			@extend %fixed;
			background: $body-background;
			z-index: 9999;
			width: 10em;
		}
	}
	.wtHolder {
		margin-left: 20em;
	}
}

.ColVis_collection {
	@extend %normal-padding;
	@extend %margin-none;
	background: $body-background;
	@extend %bordered;
	list-style: none;
	label {
		@extend %block;
		cursor: pointer;
	}
}

