/* =============================================================================
Variables
========================================================================== */


/* =============================================================================
Classification
========================================================================== */
#classification-switch {
	float: right;
	top: -2.5em;
}

#classificationAccordion {
	padding-top: 0.001em;
}