/* =============================================================================
Variables
========================================================================== */


/* =============================================================================
Classification
========================================================================== */
#classification-switch {
	float: right;
	top: -2.5em;
}

#classificationAccordion {
	padding-top: 0.001em;
}

#classification-legend {
	padding-left: 0.8em;
}

#pin-column {
	width: 1.6em;
}