<div class = "container">
	<aside role = "banner">
		<strong>Colours</strong>
		<ul>
			{{#each item in controller}}
				<li>{{item}}</li>
			{{/each}}
		</ul>
	</aside>
	<main role = "main">
		{{outlet}}
	</main>
</div>
