<div class = "container">
	<aside role = "banner">
		{{render "maptoolbar"}}
	</aside>
	<main role = "main">
		<!--This is where map goes-->
		{{google-map wells=controller.model}}
		<!--controller is application controller -->
		{{outlet}}
	</main>
	{{outlet users}}
</div>
